@import 'https://fonts.googleapis.com/css?family=Abel|Josefin+Sans|Ubuntu+Condensed';
html {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  padding: 0;
  overflow-x: hidden;
}

header {
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  background-attachment: fixed;
  background-position: fixed;
  background-size: cover;
  background-color: rgba(255, 0, 0, 0.25);
  background-image: url("../images/jumbo-pic.JPG");
  background-repeat: no-repeat;
  background-background-blend-mode: darken;
}

header nav {
  background-color: transparent;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2vh 5vw;
  width: 100%;
  position: absolute;
}

header nav ul li {
  list-style: none;
  margin: 5px 10px;
  font-size: 18px;
}

header nav ul li a {
  color: white;
  text-decoration: none !important;
  transition: all .3s ease-in-out;
}

header nav ul li a:hover {
  color: white;
  background-color: black;
  padding: 1em;
  border-top: px solid white;
  border-bottom: 8px solid white;
  min-width: 100px;
}

header nav ul #rnsit-logo {
  float: left !important;
  margin-right: auto;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  transition: all .3s ease;
}

header nav ul #rnsit-logo:hover {
  background-color: transparent;
  transform: scale(1.1);
}

#splash-screen {
  color: #c6c6c6;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  font-size: 1.5em;
}

#splash-screen .row {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

#splash-screen .row .col-md-8 {
  padding-left: 10vw !important;
}

#splash-screen .row .col-md-8 h1 {
  display: block;
  font-size: 152px;
  transition: 1s all ease;
  padding: 0;
}

#splash-screen .row .col-md-8:hover {
  translate: scale(1.1);
}

#splash-screen .row #notice-board {
  padding-right: 0px !important;
}

#splash-screen .row #notice-board ul li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 18px;
  display: block;
  background-color: white;
  padding: .5em .1em .5em 1.8em;
  box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
}

#description {
  padding: 3em 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 21px;
  z-index: 4;
}

#stats {
  min-height: 300px;
  box-shadow: inset 0px 0px 37px -5px rgba(0, 0, 0, 0.75);
  background-color: #e3e3e3;
  z-index: 2;
}

#creds h2 {
  margin: 10vh 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 44px;
}

#creds .row .col-md-3 {
  height: 200px;
  background-repeat: no-repeat;
  background-postion: center;
  background-size: contain;
}
